.header{
    background-color: white;
    color: #007A28;

}

.container{
    
    
    max-width: 1240px;
    padding:  1rem;
    margin: 0 auto;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
     img{
       max-width: 200px;
       width: 100%;
       height: auto;
     }


}.searchContainer {
  position: relative;
  display: inline-block;

  input[type="text"] {
      padding-left: 25px;
      padding-right: 30px;
      width: 400px;
      height: 40px;
      border-radius: 12px;

      &:focus{
          border-color: #007A28;

      }

  }

  .searchIcon {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      color: #0F8143;
      cursor: pointer;

      
  }

}