
.container{
    margin: 0;
  
    
 
.UpFooter{
    background-color: #0A2F2A;
    width: 100%;
    height: 20rem;
}

.bottomFooter{
    
    text-align: center;
    background-color: #4CA15D;
    width: 100%;
    height: 4rem;
}}